html {
    background-color: #7a7a7a;
}

.cabecalho {
    text-align: center;  

    color: white;
    font-size: 1.5em; 
    line-height: 0.9;
    text-shadow: 1px 1px #313131;

    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.layout-perfil {
    background-color: #929292;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.foto-perfil {
    border-radius: 50%;
}

.layout-nome {
    color: white;
    text-shadow: 1px 1px #313131;
    
    font-size: 1.21em
}

.layout-apresentacao { 
    font-size: 1.2em; 
    line-height: 0.9;
    text-shadow: 0.5px 0.5px #bebebe;
}

.frase-de-efeito {
    text-align: center;
    
    padding-top: 3%;
    padding-bottom: 3%;
    color: rgb(248, 149, 0);
    font-size: 1.3em; 
    line-height: 0.9;
    text-shadow: 0.5px 0.5px #000000;
}